service.port=19886

#JDBC
jdbc.driver=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://localhost:3306/sms-gateway
jdbc.user=root
jdbc.password=mysql

#SERVICE
sms.region=KE
data.process.limit=1000

#INFOBIB
infobip.endpoint=https://api.infobip.com
infobip.api.read.timeout=10000
infobip.api.connect.timeout=10000
infobip.api.user=AntonyOmexit
infobip.api.password=Test1234
infobip.message.sender=IBSMS
#infobip.api.password=SoftBox
#infobip.message.sender=xperiatech@123

#MIFOS
mifos.api.base =https://localhost:8443/fineract-provider/api/v1
mifos.api.user=mifos
mifos.api.password=password
mifos.api.read.timeout=10000
mifos.api.connect.timeout=10000


# RabbitMQ
rabbitmq.host = 127.0.0.1
rabbitmq.port = 5672
rabbitmq.username = guest
rabbitmq.password = guest
rabbitmq.vhost = /
# main sms queue
rabbitmq.queue.name = sms-queue
rabbitmq.queue.exchange = sms-xchange
rabbitmq.queue.routing.key = sms-mifosmobile
# retry sms queue
rabbitmq.retry.queue.name = sms-retry-queue
rabbitmq.retry.exchange = sms-retry-xchange
rabbitmq.retry.routing.key = sms-retry-mifosmobile
rabbitmq.retry.delay = 60000
# failed sms queue
rabbitmq.failed.queue.name = sms-failed-queue
rabbitmq.failed.exchange = sms-failed-xchange
rabbitmq.failed.routing.key = sms-failed-mifosmobile

